#{$all-text-inputs} {
  @include padding(null 20px);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: $color-white;
  border: 0 solid rgba($color-black, 0.06);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 8px 0 rgba($color-black, 0.2) inset;
          box-shadow: 0 0 8px 0 rgba($color-black, 0.2) inset;
  color: $color-black;
  font-size: 1rem;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0 solid rgba($color-black, 0.06);
  border-radius: 16px;
  -webkit-box-shadow: 0 0 8px 0 rgba($color-black, 0.2) inset;
          box-shadow: 0 0 8px 0 rgba($color-black, 0.2) inset;
  height: auto;
  padding: 20px;
  resize: vertical;
}

::-webkit-resizer {
  display: none;
}
